- translation = @story.default_translation
%div{class: t(:dir, scope: :meta, locale: translation.language.code)}
  %h2.title
    = translation.title
  %div.text
    - translation.text.lines.each do |paragraph|
      %p<= paragraph.chomp