// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html[dir=ltr] .paragraph .dropdown {
  float: right;
}

html[dir=rtl] .paragraph .dropdown {
  float: left;
}

.paragraph .dropdown .btn {
  position: absolute;
  bottom: 0;
  right: 0px;
  z-index: 100;
}

.paragraph .dropdown .dropdown-menu {
  position: absolute;
  left: -30px;
}

label, textarea {
  width: 100%;
}

textarea {
  height: 400px;
}